.header {
  background-color: #024964;
  color: white;
  position: relative;
  width: 50%;
}

.legend {
  border-top: 2px solid black;
  background-color: white;
  text-align: center;
  width: 10%;
  position: absolute;
  right: 5%;
}

.map {
  text-align: center;
  position: absolute;
  background-color: #E7EFF2;
  width: 100%;
  height: 100%;
}

.map-options {
  border-right: 2px solid black;
  background-color: white;
  position: absolute;
  left: 5%;
  padding-right: 3%;
  text-align: center;
}